<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.parentsassistance" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".PA.controller.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PA.controller.SplashActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PA.controller.CadastrodeAlunoActivity"
            android:label="@string/app_name">
            <activity
                android:name=".controller.CadastrodeAtividadeExtraescolar"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.CadastrodeDisciplinaActivity"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.CadastrodeFuncionarioActivity"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.CadastrodeResponsavelpeloalunoActivity"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.LoginAlunoActivity"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.LoginFuncionarioActivity"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.Loginresponsavelpeloaluno"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.MenuFuncioanrio"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.MenuResponsavelPeloAluno"
                android:label="@string/app_name">
            </activity>
            <activity
                android:name=".controller.visualizaçaodeAtividadeExtraescolar"
                android:label="@string/app_name">
            </activity>




        </activity>


    </application>

</manifest>
